.container {
  max-width: 1120px;
  margin: 7rem auto 0;
  padding: 0 2rem;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;   
  }

  time {
    display: block;
    font-size: 1rem;
    color: var(--grey-300);
    margin-top: 1.5rem;
  }

  .postContent {
    margin-top: 2rem;
    line-height: 1.8rem;
    font-size: 1.125rem;
    text-align: justify;
    color: var(--grey-100);
  
    p, ol, ul {
      margin: 1.5rem 0;
    }

    ol, ul {
      margin-left: 2rem;
    }
  
    ul {
      padding-left: 1.5rem;
  
      li {
        margin: 0.5rem;
      }
    }

    &.postPreviewContent {
      background: linear-gradient(var(--grey-100), transparent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .postPreviewContinueReading {
    //background-color: var(--grey-700);
    background-color: var(--darkblue-800);
    width: 100%;
    padding: 2rem;
    border-radius: 100px;
    margin: 2rem 0;

    text-align: center;   
    font-size: 1.25rem;
    font-weight: bold;

    a {
      color: var(--cyan-500);
      margin-left: 6px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}