.container {
  max-width: 1120px;
  margin: 12rem auto 0;
  text-align: center;

  .formContainer {
    max-width: 720px;
    margin: 0 auto;

    h1 {
      font-size: 5.5rem;
      margin-top: 5rem;
      text-align: center;

      span {
        color: var(--cyan-500);
      }
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .msg {
        display: inline-block;
        text-align: left;
      }

      .inputControl {      
        font-size: 1.2rem;
        color: #fff;
        background-color: var(--grey-700);
        
        margin-top: 2.5rem;
        padding: 0 1.5rem;
        width: 350px;
        
        border: none;
        border-radius: 1rem;

        transition: transform 0.2s;

        .icon {
          font-size: 1.4rem;
          color: var(--cyan-500);
          padding-right: 0;
        }
        
        input {
          width: 100%;
          padding: 1.2rem;
          font-size: 1.2rem;
          color: #fff;
          background: transparent;
          border: none;       
        }
      }
    }

    textarea {
      font-size: 1.2rem;
      color: #fff;
      margin-top: 2rem;
      width: 100%;
      background-color: var(--grey-700);
      border: none;
      border-radius: 1rem;
      resize: none;
      padding: 1.5rem 1.5rem;
      height: 200px;

      transition: transform 0.2s;

      &:focus {
        transform: scale(1.01);
      }
    }

    .validationMessage {
        position: absolute;
        margin: 2px 0 4px 1rem;
        font-size: 1rem;
        color: #FF6666;
    }
  }
}