.feedbackButton {
  font-size: 1.5rem;
  color: var(--grey-700);
  background: #fff;
  filter: brightness(0.90);
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
  padding: 1.2rem 0;

  transition: transform 0.2s;

  &:active {
    transform: scale(0.98);
  }
}