.feedbackButton {
  font-size: 1.5rem;
  color: var(--darkblue-800);
  font-weight: bold;
  background: #fff;
  filter: brightness(0.98);
  margin-top: 2rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
  padding: 1.2rem 0;

  transition: transform 0.2s;

  &:active {
    transform: scale(0.98);
  }
}