.subscribeButton {
  background: #E6E6E6;//var(--yellow-500);
  padding: 1.2rem 4rem;
  border: none;
  border-radius: 2rem;
  
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--darkblue-800);
  box-shadow: 0 0 80px 0 var(--cyan-500);

  transition: box-shadow 0.2s, filter 0.1s;

  &:hover {
    filter: brightness(1.01);
    box-shadow: none;
    animation: jump 0.4s infinite;
  }
}

@keyframes jump {
  0% { transform: translateY(1%) }
  10% { transform: translateY(2%) }
  20% { transform: translateY(4%); }
  30% { transform: translateY(6%); }
  40% { transform: translateY(8%); }
  50% { transform: translateY(10%); }
  60% { transform: translateY(8%); }
  70% { transform: translateY(6%); }
  80% { transform: translateY(4%); }
  90% { transform: translateY(2%); }
  100% { transform: translateY(1%); }
}