.signInButton {
  height: 3rem;
  border-radius: 3rem;

  background: var(--grey-850);
  color: var(--white);
  border: 0;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }

  svg:first-child {
    margin-right: 1rem;
  }

  transition: filter 0.1s;

  &:hover {
    filter: brightness(0.8);
  }
}

.closeIcon {
  margin-left: 1rem;
}
